.body__need-info {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 10rem 13rem 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  margin-top: -5px;
}
.need-info__chosen {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 2px 0 2px 5px;
  height: 33px;
  border: 1px solid #ececec;
  background-color: #fff;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 27px;
}
._grey-color {
  color: darkgrey;
  font-size: 12px;
}
.need-info__textarea{
  white-space: wrap;
  line-height: 27px;
  background-color: #fff;
  /* color: #444; */
  border: 1px solid #ececec;
  padding: 2px 0px 0px 5px;
  display: block;
  overflow: hidden; 
  resize: none;
  height: 27px;
  text-decoration: none;
}