body {
  overflow: hidden;
}
.needs-table {
  font-size: 13px;

  width: 100%;
  margin-top: 1rem;

  border-collapse: collapse;
  &__spinner {
    font-size: 20px;
    font-weight: 100;

    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    color: #45688e;
    background-color: rgba(255, 255, 255, .8);
  }

  tr {
    text-align: center;

    color: #45688e;
    background-color: #eff3f7;
  }
  td {
    padding: 0 .2em;
    &:nth-child(3) {
      min-width: 130px;
    }
    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    display: flex;
    flex-direction: column;

    margin: 1.5em;
  }
  table td {
    font-size: 13px;

    display: block;

    text-align: left;

    border-top: 1px solid #e9edf2;
    border-right: 1px solid transparent;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    font-size: .85em;
    font-weight: 400;
    line-height: 1.55em;

    float: left;

    width: 90px;
    margin-right: 1em;
    padding: 0 0 0 .5rem;

    content: attr(data-label);
    text-align: left;
    white-space: break-spaces;
    text-transform: uppercase;

    color: #ababab;
  }
}
