.switch {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin: .5rem 0 0 .8rem;

  &__label {
    font-size: 9px;

    position: relative;

    display: block;

    width: 5.5em;
    height: 3em;

    cursor: pointer;
    transition: 350ms;

    border-radius: 1.5em;
    background: linear-gradient(rgba(#000, .07), rgba(#fff, 0)), #ddd;
    box-shadow: 0 .07em .1em -.1em rgba(#000, .4) inset, 0 .05em .08em -.01em rgba(#fff, .7);
    &::after {
      position: absolute;
      top: .5em;
      left: .5em;

      width: 2em;
      height: 2em;

      content: '';
      transition: 250ms ease-in-out;

      border-radius: 50%;
      background: linear-gradient(#f5f5f5 10%, #eee);
      box-shadow: 0 .1em .15em -.05em rgba(#fff, .9) inset,
      0 .2em .2em -.12em rgba(#000, .5);
    }
    &::before {
      position: absolute;
      top: .75em;
      left: .75em;

      width: 4em;
      height: 1.5em;

      content: '';
      transition: 250ms ease-in-out;

      border-radius: .75em;
      background: linear-gradient(rgba(#000, .07), rgba(#fff, .1)), #d0d0d0;
      box-shadow: 0 .08em .15em -.1em rgba(#000, .5) inset,
      0 .05em .08em -.01em rgba(#fff, .7), 0 0 0 0 rgba(#4c6, .7) inset;
    }
  }
  &__input {
    position: absolute;
    left: -9999px;
  }
  &__text {
    font-size: 1.5em;

    margin: 0 .5em;

    color: #b2b2b2;
  }

  .switch__input:checked + .switch__label::before {
    box-shadow: 0 .08em .15em -.1em rgba(#000, .5) inset,
    0 .05em .08em -.01em rgba(#fff, .7), 3em 0 0 0 rgba(#4c6, .7) inset;
  }

  .switch__input:checked + .switch__label::after {
    left: 3em;
  }
}
