.modal__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 40px;
  font-size: 10pt;
  border-top: 1px solid #eeeeee;
  background: #f5f5f5;
  padding: 10px 20px;
  -webkit-user-select: none;
}
