.needs-table {
  .body {
    &__cell {
      width: 100%;

      text-align: center;
      @media (max-width: 600px) {
        text-align: left;
      }
    }
    tr {
      border-bottom: 1px solid rgb(232, 232, 232);
      &:nth-child(2n) {
        background-color: #f6f8fa;
        @media (max-width: 600px) {
          background-color: #eff3f7;
        }
      }
      &:hover {
        cursor: pointer;

        background-color: #e9edf2;
      }
      @media (max-width: 600px) {
        border-right: none;
        border-left: none;
        box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .15);
      }
    }
    td {
      text-align: center;

      color: #000;
      @media (max-width: 600px) {
        float: left;

        padding: .4em;
      }
    }
    &__document {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      text-align: left;
      &__contract {
        margin: .5em 0 0 0;
      }
      &__order {
        font-size: 11px;

        margin: .5em 0;

        color: #ababab;
      }
    }
    &__comment {
      display: flex;
      flex-direction: row;

      text-align: left;
      &__img {
        width: 34px;
        height: 34px;
        margin: auto .2rem;
        img {
          width: 100%;
          height: 100%;

          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;

          object-fit: cover;
        }
      }
      &__text {
        font-size: 11px;

        position: relative;

        display: block;
        overflow: hidden;

        max-width: 300px;
        height: 40px;

        color: #ababab;
      }
    }

    &__status {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      text-align: right;
      &__date {
        font-size: 10px;

        margin: .1em;

        color: darkgrey;
      }
      &__icon {
        font-size: 11px;
        line-height: 12px;

        height: 12px;
        padding: 4px 10px 5px;

        text-align: center;
        white-space: nowrap;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &.work {
          color: #4c714e;
          background-color: #f2efd2;
        }
        &.wait {
          color: #858585;
          background-color: #ededed;
        }
        &.ready {
          color: #714c4c;
          background-color: #f7e8df;
        }
      }
    }
  }
}
