._font-weight {
  font-weight: normal;
}
.comment__input {
  width: 370px;
  height: 33px;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  background-color: #fff;
}
._color-btn {
  background-color: #e3ebf3;
  color: #45688e;
  margin-right: 10px;
}
._comment-window {
  width: 400px;
}
.stance-name {
  height: 15px;
  margin: -5px 0px 20px;
  background: #f3f3f3;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  color: #676767;
  padding: 6px 10px;
}
._stance-body-width {
  width: 555px;
}
.hint {
  font-size: 11px;
  padding: 7px 7px;
  margin: -5px 0 20px;
  background: #f3f3f3;
  color: #717171;
}
