.tag {
  font-size: 13px;
  line-height: 13px;

  display: flex;
  justify-content: space-between;

  max-width: 100%;
  height: 13px;
  margin: .1rem;
  padding: 3px .3rem 3px .5rem;

  cursor: default;

  color: #374a6d;
  border: 1px solid #d8dde2;
  background-color: #ecf0f4;
  &__text {
    margin-right: .5rem;

    text-transform: capitalize;
  }
  &__close {
    cursor: pointer;
    transition: color .3s ease-in-out .1s;

    color: rgba(161, 164, 166, .45);
    &:hover {
      color: rgba(161, 164, 166, 1);
    }
  }
}
