.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  &__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 auto;

    @media (min-width: 1110px) {
      margin: 0;
    }
    @media (max-width: 1110px) {
      width: 850px;
    }
    @media (max-width: 850px) {
      width: 680px;
    }
    @media (max-width: 675px) {
      justify-content: space-between;

      width: 412px;
    }
    @media (max-width: 675px) {
      justify-content: space-between;

      width: 412px;
    }

    @media (max-width: 412px) {
      justify-content: space-between;

      width: 220px;
    }
  }
}
