.modal__header {
  position: relative;
  display: flex;
  margin: 0px 0 10px 0;
  min-height: 16px;
  font-size: 10pt;
  background: #eeeeee;
  color: #36638e;
  font-weight: bold;
  -webkit-user-select: none;
}
._header-padding {
  padding: 10px 15px 11px;
}

._header-width {
  width: 737px;
}
.header__close-btn {
  font-weight: bold;
  position: absolute;
  right: 13px;
  top: 7px;
  opacity: 0.23;
  width: 11px;
  height: 12px;
  z-index: 1000;
  cursor: pointer;
}
