@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  padding: 0px;
}
.modal_show {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: var(--red); */
}
.modal__window {
  display: flex;
  flex-direction: column;
  margin: 50px 0 50px 0;
  min-height: 100px;
  min-width: 400px;
  max-width: 737px;
  background-color: #f9f9f9;
  font-size: 10pt;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
  max-height: 30px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #7f7f7f;
  background: #ececec;
}

._cursor-pointer {
  cursor: pointer;
}



