.header {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  height: 40px;

  background: #597ba5;
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 .5rem;

    cursor: pointer;
    &__img {
      width: 220px;
    }
  }
  &_spinner {
    display: flex;
    @media (max-width: 1080px) {
      flex-direction: row-reverse;
    }
  }
  &__menu {
    display: flex;

    &_popup {
      display: none;

      & .popup {
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 100%;
        &__button {
          font-size: 1.2rem;

          display: inline-block;

          max-width: 17px;
          margin: 5px 1rem;
          padding: .187rem .5rem;

          cursor: pointer;

          color: #fff;
          border: 1px solid #fff;
          border-radius: 5px;

          &.active, &:hover {
            background: #537299;
          }
          &_show {
            display: inline-block;
          }
        }
        &__sidebar {
          position: absolute;
          z-index: 100;
          top: 0;
          left: 0;

          display: none;

          width: 300px;
          height: 100vh;

          border-right: 3px solid #537299;
          background-color: #597ba5;
          &__header {
            display: flex;
            flex-direction: row;

            h2 {
              color: #fff;
            }
          }
          &_show {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    &_inline {
      display: flex;
    }
    @media (max-width: 1080px) {
      &_inline {
        display: none;
      }
      &_popup {
        display: block;
      }
    }
    &__point {
      font-size: 11px;
      font-weight: bold;
      line-height: 40px;

      display: flex;
      flex-direction: column;

      height: 40px;
      padding: 0 22px 0;

      cursor: pointer;
      text-decoration: none;

      color: #e8eff7;
      &.active, &:hover {
        background: #537299;
      }
    }
  }

  &__user {
    line-height: 40px;

    position: absolute;
    right: 0;

    width: 300px;
    &__img {
      position: relative;

      float: right;

      width: 35px;
      height: 35px;
      margin: 2px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #e2e1df;
      background-size: cover;
    }
    &__name {
      font-size: 11px;

      position: relative;

      display: table;
      float: right;

      margin-right: 10px;

      text-align: right;

      color: #e8eff7;
    }
  }
}
