.header {
  position: relative;

  width: 100%;
  height: 40px;

  background: #597ba5;
  &__logo {
    position: absolute;
    top: 5px;
    left: 8px;

    padding: 0 5px;

    cursor: pointer;
    img {
      width: 220px;
    }
  }
  &__menu {
    position: absolute;
    left: 270px;
    &__point {
      font-size: 11px;
      font-weight: bold;
      line-height: 40px;

      display: table;
      float: left;

      height: 40px;
      padding: 0 22px 0;

      cursor: pointer;
      text-decoration: none;

      color: #e8eff7;
      &.active, &:hover {
        background: #537299;
      }
    }
  }
  &__user {
    line-height: 40px;

    position: absolute;
    right: 0;

    width: 300px;
    &__img {
      position: relative;

      float: right;

      width: 35px;
      height: 35px;
      margin: 2px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #e2e1df;
      background-size: cover;
    }
    &__name {
      font-size: 11px;

      position: relative;

      display: table;
      float: right;

      margin-right: 10px;

      text-align: right;

      color: #e8eff7;
    }
  }
}
