.role {
  display: flex;
  flex-direction: row;

  margin-top: .6rem;

  transition: all .5s ease-out;
  &__title {
    margin-right: .6rem;
  }
  @media (max-width: 1472px) {
    flex-direction: column;

    width: 100%;
    margin: .6rem auto;
    &__title {
      margin-bottom: .6rem;
    }
  }
  @media (max-width: 1091px) {
    flex-direction: column;

    width: 100%;
    margin: .6rem auto;
    &__title {
      margin-bottom: .6rem;
    }
  }

  &__body {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 1140px;
    height: auto;
    min-height: 30px;
    margin: 0;
    padding: 0 .1rem .1rem .1rem;

    cursor: text;
    transition: all .8s ease-out;

    border: 1px solid #c3cbd4;
    background-color: #fff;
    &_no-pointer {
      cursor: auto;
    }
    @media (max-width: 1911px) {
      width: 700px;
    }
    @media (max-width: 1472px) {
      width: 480px;
    }
    @media (max-width: 1091px) {
      width: 360px;
    }
    &__input {
      font-size: 13px;
      line-height: 13px;

      padding: 3px .3rem 3px .2rem;

      border: none;
      outline: none;
      input:active, input:focus {
        border: none;
        outline: none;
      }
    }
  }
}
