.submenu {
  margin-bottom: .5rem;
  &__point {
    font-size: 8pt;
    font-weight: bold;

    display: table;
    float: left;

    margin: .5rem 0 0 .8rem;
    padding: 3px 7px 4px;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-transform: none;

    color: #45688e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &_active {
      cursor: default;

      color: #fff;
      background: #6588ab;
    }
  }
}
