.subscription-to-orders {
  display: grid;
  overflow-x: auto;

  height: 100vh;

  grid-template-area: 'sub';

  &::-webkit-scrollbar {
    width: .5em;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }
  &::-webkit-scrollbar-thumb {
    outline: 1px solid slategrey;
    background-color: darkgrey;
  }
}
