* {
  margin: 0;
  padding: 0;
}
body {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  border: 0;
}
h5 {
  font-size: 13px;
  font-weight: bold;

  color: #42648b;
}
h6 {
  font-size: 13px;

  width: 135px;
}
