.drop {
  position: absolute;
  z-index: 1010;
  top: 100%;
  left: -1px;

  visibility: hidden;

  width: 100%;

  &__body {
    font-size: 13px;
    line-height: 13px;

    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 0;

    color: #444;
    border: 1px solid #c3cbd4;
    background-color: #fff;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
    &_show {
      visibility: visible;
    }
  }
  &__item {
    margin: 0;
    padding: 5px 6px;

    list-style: none;

    cursor: pointer;
    &:hover {
      background: #f1f1f1;
    }

    &_no-results {
      cursor: auto;

      color: #777;
      background: #f4f4f4;
    }
  }
}
